---
// src/pages/index.astro

import ImageUploader from '../components/ImageUploader.tsx';
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="explore kevin truong's personal portfolio webpage!"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="/favicon-d.png?" type="image/x-icon">
		<title>aesthetic matcher</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
	</head>
  <body>
    <h1> aesthetic matcher </h1>
    <ImageUploader client:load />
  </body>
</html>

<style is:global>
	html, body {
		font-family: Rowdies;
		font-size: 32px;
		background-color: #161616;
		margin: 0;
		padding: 0;
		height: 100%;
	}
	body {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	h1 {
		padding: 50px 0 30px;
		color: #D39DD3;
		margin: 0;
		line-height: .8;
		letter-spacing: -.05em;
	}
</style>