---
// src/pages/index.astro

import Layout from '../layouts/Layout.astro';
import ImageUploader from '../components/ImageUploader.tsx';
---

<Layout title="">
	<a href="/"><h1> aesthetic matcher </h1></a>
	<ImageUploader client:load />
</Layout>

